@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.videos::-webkit-scrollbar{
  width: 0px;
}
::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

